<ion-content>
  <ion-card *ngFor="let cartItem of cartItems">
    <ion-card-header>
      <ion-card-title>{{ cartItem?.product?.name }}</ion-card-title>
      <ion-button color="danger" (click)="removeItem(cartItem?.product)">Remove</ion-button>
    </ion-card-header>
    <ion-card-content>
      <p>Price: {{ cartItem?.product?.price | currency:'USD' }}</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Total Price:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ totalPrice | currency:'USD' }}</p>
    </ion-card-content>
  </ion-card>
  <ion-button size="full" color="primary">Checkout</ion-button>
</ion-content>
