<ion-card *ngIf="product">
  <ion-card-header>
    <ion-card-title>{{ product.name }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>Price: {{ product.price | currency:'USD' }}</p>
    <p>{{ product.description }}</p>
  </ion-card-content>
  <div>

  </div>
  <ion-item>
    <ion-buttons>
      <ion-button color="primary" (click)="updateQuantity(-1)">
        <ion-icon name="remove-outline"></ion-icon>
      </ion-button>
      <span>{{ quantity$ | async}}</span>
      <ion-button color="primary" (click)="updateQuantity(1)">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="removeFromCart()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-card>
