<ion-card *ngIf="product">
  <ion-img src="{{ product.imageUrl }}"></ion-img>
  <ion-card-header>
    <ion-card-title>{{ product.name }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>Price: {{ product.price | currency:'USD' }}</p>
    <p>{{ product.description }}</p>
  </ion-card-content>
  <div>
    <ion-button color="primary" (click)="updateQuantity(-1)">-</ion-button>
    <span>{{ quantity$ | async}}</span>
    <ion-button color="primary" (click)="updateQuantity(1)">+</ion-button>
  </div>
  <div>
    <ion-button color="danger" (click)="removeFromCart()">
      <ion-icon name="trash"></ion-icon>
    </ion-button>
  </div>
</ion-card>
